fastapi
uvicorn
pydantic
sqlalchemy
python-jose
python-multipart
python-dateutil
predibase
alembic
pydantic_settings
google-cloud-bigquery
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-core
pydantic[email]
passlib
httpx
datasets
scikit-learn
openai
predibase==2024.7.2
predibase-api==2024.7.2
